:root {
  font-size: 10px;
}
@media(min-width: 768px) {
  :root {
    font-size: 12px;
  }
}
body {
  color: #1d1d1d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2;
  letter-spacing: 0.1rem;
}
html, body {
  height: 100%;
}
h1 {
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  transform: scale(1, 0.95);
}

/* loading */
#loading {
  width: 100%;
  height: 100%;
  background-color: #afd7dd;
  position: relative;
  }
#loading img {
  position: absolute;
  width: 20%;
  max-width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: load;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  }
#hidden {
  display: none;
  }
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* フェードイン */
.fadein {
  opacity: 0;
  position: relative;
  top: 30px;
}
.fadeon {
  opacity: 0;
  position: relative;
}
.fadeIn {
  opacity: 1;
  transition: all 500ms 0s;
  transition-timing-function: ease-in;
  transform: translateY(-30px);
}
.fadeOn {
  opacity: 1;
  transition-timing-function: ease-in;
}

/* header */
nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background: #ebf6f7;
  text-align: center;
  transform: translateX(200%);
  transition: all 0.6s;
  width: 65%;
}
nav.globalMenuSp ul {
  margin-top: 5rem;
}
nav.globalMenuSp ul li {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #92c6cc;
}
nav.globalMenuSp ul li a {
  display: block;
  color: #59959b;
  padding: 1em 0;
}
/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(55%);
}
.navToggle {
  display: block;
  position: fixed;    /* bodyに対しての絶対位置指定 */
  right: 1.5rem;
  top: 1.2rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 3;
  color: #dbdbdb;
  text-align: center;
}
.navToggle span {
  display: block;
  position: absolute;    /* .navToggleに対して */
  cursor: pointer;
  width: 3rem;
  border-bottom: solid 3px #eee;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 6px;
}
.navToggle span:nth-child(1) {
  top: 0.9rem;
}
.navToggle span:nth-child(2) {
  top: 1.8rem;
}
.navToggle span:nth-child(3) {
  top: 2.7rem;
}
/* 最初のspanをマイナス45度に */
.navToggle.active span:nth-child(1) {
  top: 1.8rem;
  left: 0.6rem;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-bottom: solid 3px #92c6cc;
}
/* 2番目と3番目のspanを45度に */
.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 1.8rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: solid 3px #92c6cc;
}
.filter {
  filter: blur(5px);
}

/* sp時は非表示 */
.nav_pc {
  display: none;
}
.nav_sp {
  display: block;
}
@media(min-width: 768px) {
  .nav_sp {
    display: none;
  }
  .nav_pc {
    display: block;
    height: 6rem;
  }
  .nav_pc a {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    color: #636363;
  }
  .underline {
    display: inline-block;
    position: relative;
  }
  .underline:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #9cd2db;
    transition: all 0.3s ease 0s;
  }
  .underline:hover:after {
    width: 100%;
  }
  .nav_pc ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 3rem;
  }
  .nav_pc li {
    display: inline-block;
    margin-left: 2rem;
  }
}

/* main */
/* logo */
.logo {
  display: block;
  width: 35%;
  max-width: 170px;
  height: 12rem;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}
.logo img {
  padding: 1rem 0;
}
@media(min-width: 768px) {
  .logo {
    margin-top: 3rem;
    height: 15rem;
  }
}
.logo p {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0.9rem;
  letter-spacing: 0.3rem;
  line-height: 1.4;
}

/* hero */
.hero {
  height: 100%;
}

/* skills */
#skills {
  width: 100%;
  background-image : url(../img/background_sp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  min-height: 60rem;
  height: calc(100vh - 17rem);
  position: relative;
}
@media(min-width: 768px) {
  #skills {
    background-image : url(../img/background_pc.jpg);
    height: calc(100vh - 26rem);
    
  }
}

.skills__skillsContainer {
  display: grid;
  grid-gap: 4rem;
  -ms-grid-gap: 4rem;
  grid-template-rows: 25rem 25rem;
  -ms-grid-template-rows: 25rem 25rem;
}
@media(min-width: 768px) {
  .skills__skillsContainer {
    grid-template-columns: 50% 50%;
    -ms-grid-template-columns: 50% 50%;
    grid-template-rows: 100% 0rem;
    -ms-grid-template-rows: 100% 0rem;
    width: 70%;
    margin: 0 calc(15% + 2rem) 0 auto;
  }
}
.inner {
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  margin: auto;
  height: fit-content;
} 
@media(min-width: 768px) {
  .inner {
    max-width: 750px;
    margin: auto;
  }
}
.skills__skillsContainer__skillBox-1,
.skills__skillsContainer__skillBox-2 {
  width: 70%;
  max-width: 250px;
  padding: 2rem;
  background: rgba(255,255,255,0.95);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 0 0 8px #919090;
}
@media(min-width: 768px) {
  .skills__skillsContainer__skillBox-1 {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
    margin: 0;
    width: 100%;
    padding: 1.5rem 2rem;
  }
  .skills__skillsContainer__skillBox-2 {
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 2;
    -ms-grid-column: 2;
    margin: 0;
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
#skills p {
  word-wrap: break-word;
}
img.icon{
  width: 25%;
  display: block;
  padding: 0.5rem 0 1.2rem 0;
  margin: auto;
}
img.title{
  width: 45%;
  display: block;
  padding: 0.5rem 0 1rem 0;
  margin: auto;
}

/* works */
#works {
  background-color: #f5f7f7;
  padding: 3rem 1rem;
  min-height: 200px;
  width: 100%;
  position: relative;
}
.works__container {
  min-height: 150px;
  width: 100%;
  position: relative;
}
#works p {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  width: 100%;
  height: fit-content;
  color: #afafaf;
  font-size: 1.2rem;
}

/* about */
#about {
  padding: 3rem 1rem;
}
.about__container {
  display: flex;
  width: 60%;
  flex-shrink: inherit;
  align-items: flex-start;
  margin: auto;
}
#about img {
  width: 30%;
  max-width: 170px;
  margin-right: 1rem;
}
.about__container__text {
  margin-left: 1rem;
}
.about__container__text p {
  margin-bottom: 1rem;
}

/* footer */
footer {
  text-align: center;
  background: #a3a3a3;
  padding: 1rem;
  color: #fff;
}

